<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:名称空间 一般命名规则就是该xml所在的包路径.xml的名称 -->
<mapper namespace="dao.UserDao">
	<select id="login" parameterType="entity.User" resultType="entity.User">
		select username,password,phone,address from t_user
		where username=#{username} and password=#{password}
	</select>
	
	<insert id="register" parameterType="entity.User">
		insert into t_user(username,password,phone,address)
		values(#{username},#{password},#{phone},#{address})
	</insert>
	
	<select id="checkName" parameterType="entity.User" resultType="entity.User">
		select username from t_user
		where username=#{username}
	</select>
</mapper>
